<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel ="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar" >
        <ul class="menu">
            <li><a href="{% url 'library:index' %}">На главную</a></li>
            <li><a href="#">Комментарии:</a></li>
            <li><a href="{% url 'accounts:list' %}">Список пользователей</a></li>
            {% if user.is_authenticated %}
           {% block menu_links %}{% endblock %}
    <li class="menu-right"><a href="{% url 'accounts:logout' %}" class="nav-link">Выход</a></li>
    <li class="menu-right">Привет, <a href="{% url 'accounts:user_detail' user.pk %}"> {{ user.username }}</a>!</li>
       {% else %}
           <li class="menu-right"><a href="{% url 'accounts:login' %}" class="nav-link">Вход</a></li>
        <li class="menu-right"><a href="{% url 'accounts:create' %}" class="nav-link">Регистрация</a></li>
       {% endif %}
        </ul>
    </nav>
    <div class="container">
    {% block content %}{% endblock %}</div>


</body>
</html>
